.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 10;
    height: 60px;
}
  
.navbar-buttons {
    display: flex;
    gap: 10px; /* Adjust the space between buttons */
}

.navbar-button {
    padding: 10px 20px;
    background-color: #003366; /* dark blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: auto;
}
  
.navbar-button:hover {
    background-color: #001f33; /* darker blue for hover */
}
  
.navbar-logo {
    height: 80px;
    width: 200px;
    margin-left: 10px;
}
.transparent-navbar {
    background-color: rgba(0, 0, 0, 0); /* Transparent */
}

.blue-navbar {
    background-color: #65a0da; /* Dark blue */
}
